{% extends 'base/main.html' %} {% block content %}

<div class="header-bar">
	<h1>DoIT | Login</h1>
</div>

<div class="card-body">
	<form method="POST">
		{% csrf_token %} 
		<label>{{form.username.label}}</label>
        {{form.username}}
		<label>{{form.password.label}}</label>
        {{form.password}}
		<label>{{form.captcha.label}}</label>
        {{form.captcha}}
		{% if login_failed %}
            <div style="items-align: left; background-color: #f44336; color: white; font-size: 12px; margin: 15px; border-radius: 5px 5px; border: 1px solid #000000;">
                <strong>
                    *Wrong username or password
                </strong>
            </div>
        {% endif %}
		<input style="margin-top:10px ;" class="button" type="submit" value="Login" />
	</form>
	<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% endblock content %}
