{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div style="text-align: center; align-items: center">
        {% if user.is_authenticated and user.id == profile.user.id %}
        <a href="{% url 'profile-update' %}" class="btn btn-primary">Edit</a>
        <a style="vertical-align: top; text-align:left;" href="{% url 'profile-search' %}">Search</a><br>
        <a style="vertical-align: top; text-align:left;" href="{% url 'tasks' %}">&#8592; Back</a><br>
        {% else %}
        <a style="vertical-align: top; text-align:left;" href="{% url 'profile-search' %}">&#8592; Back</a><br>
        {% endif %}
        <div class="avatar">
            <img class="profile-pic" src="{{profile.avatar.url}}">
        </div>
        <div>
            <h3 style="margin: 0; font-size: 14px"><label>Username:</label> <i>{{ profile.user.username }}</i></h3>
            
            <h3 style="margin: 0; font-size: 14px"><label>E-Mail:</label> <i>{{ profile.user.email }}</i></h3>

            <h3 style="margin: 0; font-size: 14px"><label>Full Name:</label> <i>{{profile.user.first_name}} {{profile.user.last_name}}</i></h3>
            <h4 style="margin: 0; font-size: 14px;">Tasks Done:</h4>
            <h4 style="margin: 0; font-size: 14px">
                &#10004; {{ completed_tasks_count }}
            </h4>
        </div>
    </div>
</div>

{% endblock %}